-@ var title: String = "Title"
-@ var body: String = "Custom Layout"

!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
  body
    .container= unescape(body)
    script(src='/js/jquery-1.8.0.min.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/bootstrap/js/bootstrap-button.js')
    :javascript
      $(document).ready(function(){
        $("#menu li").each(function() {
          if (location.href.indexOf($(this).find("a").attr("href")) >= 0) {
            $(this).addClass("active");
            return false;
          }
        });
        $(".btn-danger").click(function(){
          var result = confirm("Are you sure?");
          var self = $(this);
          if (result) {
            $.ajax({
              url : self.data("target"),
              type: "DELETE",
              success: function(e) {
                location.href = self.data("redirect");
              }
            });
          }
        });
      });
